---
import { Image } from 'astro:assets';

import img from './img/man.png';
---

<section id="review">
  <div class="review-list">
    <div class="review-list__container">
      <h2>What People´s Say</h2>
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" /><strong
            >Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" />Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" />Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
    </div>
    <div class="review-list__container">
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" />Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" />Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
      <div class="review-item">
        <strong>„Top Service“</strong>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd
        </p>
        <div class="review-item__user">
          <Image src={img} densities={[1.5, 2]} alt="man" />Steffan Copeland</strong
          ><span>private customer</span>
        </div>
      </div>
    </div>
  </div>
</section>
